/* tabs from here */

.tab:hover .underline{
    opacity:1;
    width:100%;
}

.activetab{
    width:100%;
    opacity:1;
    background-color:black;
}
.activetab{
    width:1%;
    opacity:0;
    background-color:black;
}

/* page classes from here */

.activepage{
    display:block;
    visibility:visible;
    opacity:1;
}

.inactivepage{
    display:none;
    visibility:hidden;
    opacity:1;
}