.angledown{
    transform:rotateX(0deg);
}

.angleup {
    transform: rotateX(180deg);
}

/* descriptionbox hide and seek */

.heading:hover .descriptionbox{
    /* display:block; */
    visibility:visible;
    opacity:1;
    padding-top:20px;
    
}
.heading:hover .faangle{
    transform:rotate(180deg)
}