*{
    box-sizing: border-box;
}

/* sports section starts from here */

.sp:hover img{
    transform: scale(1.2);
} 
  /* leatest product tab from here */


.product:hover .stats{
    right:10px;
}
.product:hover .stats{
    right:10px;
}

.product:hover .addtocart{
    bottom:10px;
}

.product:hover .quickbar{
    bottom:10px;
}

.productsection:hover .arrow{
    visibility:visible;
    opacity:1;
}

/* product tab starts from here */
.activetab{
    color:black;
    text-decoration: underline;
    text-decoration-thickness:1px ;
}

.inactivetab{
    color:#808080;
    text-decoration: none;
}

.activesection{ 
    display:flex;
    visibility:visible;
    opacity:1;
    /* transition:all 500ms; */
}
.inactivesection{
    display:none;
    visibility:hidden;
    opacity:0;
    /* transition:all 500ms; */
}

/* hero 2 section from here */

.hero2{
    background-image: url("../Assets/hero 2/hero2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:-135px -50px;
}

/* hero 3 section from here */

.hero3{
    background-image:url("../Assets//hero 3/hero3.jpg");
    background-repeat:no-repeat;
     background-position:top center;
     background-size: cover;
}

/* instagram post section starts from here */

.postsection:hover .post{
    transform:scale(1.2);
}
.postsection:hover .overlay{
    background-color:rgba(0,0,0,0.3);
}
.postsection:hover .instagram{
    opacity:1;
}


